.contact-form{
    padding: 0 9rem 0 20rem;
    display: flex;
    height: 70vh;
    margin-top: 94px;
}

.c-right{
    display: flex;
    justify-content: center;
    position: relative;
    flex: 1;
}

.c-right>form
{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    
}

.c-right .user{
    width: 30rem;
    height: 2rem;
    padding: 0.3em;
    outline: none;
    border: 2px solid var(--orange);
    border-radius: 8px;
    font-size: 20px;   
}

textarea{
    height: 200px!important;
}

.c-blur1{
    top: -19rem;
    left: 8rem;
}

@media screen and (max-width: 480px) {
    .contact-form{
        padding: 0;
        flex-direction: column;
        height: 100vh;
    }
    .w-left{
        height: 200px;
    }

    .c-right{
        height: fit-content;
    }
    .c-right .user{
        width: 360px;
    }
}